body {
    background-color: #f8f9fa;
    font-family: 'Cairo', sans-serif;
}

.main-container {
    transition: all 0.3s;
    font-family: 'Cairo', sans-serif;
}

.form-card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 100rem;
    margin-top: -25rem;
    margin-right: -1rem;
    width: 100rem;
    height: 100rem;
    font-family: 'Cairo', sans-serif;
}

.nav-tabs .nav-link {
    border: 1px solid #9c1c1c;
    color: #9c1c1c;
    margin-right: 5px;
    border-radius: 50px;
    /* تقويس اليمين واليسار */
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-color: #9c1c1c !important;
    font-family: 'Cairo', sans-serif;

}


.nav-tabs .nav-link,
.nav-tabs .nav-link {
    background-color: #ffffff !important;
    border-color: #9c1c1c !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 50px !important;
    font-family: 'Cairo', sans-serif;
    border-bottom: #ffffff;

}

.nav-tabs .nav-link.active {
    background-color: #9c1c1c !important;
    border-color: #9c1c1c !important;
    color: white !important;
    border-radius: 50px !important;
    font-family: 'Cairo', sans-serif;
    border-bottom: #ffffff;

}

.nav-tabs .nav-link:hover {
    background-color: #7e1717 !important;
    border-color: #7e1717 !important;
    border-radius: 50px;
    font-family: 'Cairo', sans-serif;
    border-bottom: #ffffff;
}


.btn-primary-custom {
    background-color: #9c1c1c !important;
    border-color: #9c1c1c !important;
    color: white !important;
    border-radius: 100px !important;
    font-family: 'Cairo', sans-serif;
}

.btn-primary-custom:hover {
    background-color: #7e1717 !important;
    border-color: #7e1717 !important;
}

.btn-outline-custom {
    border-color: #9c1c1c !important;
    color: #9c1c1c !important;
    border-radius: 100px !important;
}

.btn-outline-custom:hover {
    background-color: #9c1c1c !important;
    color: white !important;
}

.nav-tabs {
    border-bottom: none !important;
}

@media (max-width: 992px) {
    .main-container {
        margin-right: 0;
    }
}
.menu-right {
    font-family: 'Cairo', sans-serif;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    transition: all 0.3s;
}

.menu-right.collapsed {
    right: -200px;
}

.right-sidebar .toggle-btn {
    position: absolute;
    left: 10px;
    top: 10px;
}
.custom-btn.issuing {
    background-color: rgb(156, 28, 28);
    color: white;
    padding: 0.5rem 2rem;
}

.custom-btn.view {
    border: 1px solid rgb(156, 28, 28);
    color: rgb(156, 28, 28);
    padding: 0.5rem 2rem;
}
.custom-btn {
    border-radius: 40px;
    border: 1px solid rgb(156, 28, 28);
    color: rgb(156, 28, 28);
    padding: 0.5rem 1.2rem;
    background-color: white;
    font-family: 'Cairo', sans-serif;
}
.back{
    margin-top: 10rem;
    background-color: rgb(255, 243, 243); /* نفس لون body */
    position: fixed;
    right: 450px;
    top: -5rem;
    width: 100px;
    height: 60px;
    color: rgba(17, 15, 15, 0.589);
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
}