body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .menu {
    background: #ffffff;
    padding: 0.5rem 5px;
    border-radius: 100px;
  }

  .menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 20px;
  }

  .menu .btn:hover {
    background-color: #f2f2f2;
  }

  .menu .btn i {
    margin: 0;
  }